body {
        font-family: Arial, sans-serif;
        background-color: #643636;
        margin: 0;
        padding: 0;
        text-align: center;
}
header {
        background-color: #6fa071;
        color: white;
        padding: 10px 0;
}


