<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Puissance 4</title>
    <link rel="stylesheet" href="/static/asus.css">
</head>
<body>
    <h1>Puissance 4</h1>
    <div class="description">
        Bienvenue dans le jeu du POWER_4 !  
        <br>jouez entre amis et soyez les premier à aligner 4 jetons.
    </div>
    <form action="/game" method="get">
        <button type="submit">Commencer la partie 🎮</button>
    </form>
    <footer>Projet développé en GoLang • 2025</footer>
</body>
</html>