<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="Interface web" content="width=device-width, initial-scale=1.0">
    <title>PUISSANCE 4</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <h1>PUISSANCE 4</h1>
    <div class="game-board">
        <div class="row">
            <div class="cell" data-column="0"></div>
            <div class="cell" data-column="1"></div>
            <div class="cell" data-column="2"></div>
            <div class="cell" data-column="3"></div>
            <div class="cell" data-column="4"></div>
            <div class="cell" data-column="5"></div>
            <div class="cell" data-column="6"></div>
        </div>
    </div>
</body>
</html>
